extends index 

block activation 
    br
    h4(style="font-weight:bold;opacity:0.8;")="TIME TO ACTIVATE YOUR ACCOUNT"
    br
    br
    br
    p="Your Link.Builders account has been created and in order to use it  you will have to activate it. Please click the button below to choose your passward and get started."
    br
    br
    br
    div(style="display:flex;flex-direction:column;justify-content: center;align-items:center;width:100%;")
        a(href="https://goldenlink.sweetopia.se/activate_account?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI2MTFjYmQxOWNkYWYwYWE0YjU1OWVhYjciLCJpYXQiOjE2Mzc3NjU2NjksImV4cCI6MTYzODAyNDg2OX0.1y-OhWUq_IPFrp7oqi5uCy-2H1yXf_SItpX4wccFb9w&email=zelalem.antigen12@gmail.com")
            button(class="btn btn-lg btn-primary " )="ACTIVATE ACCOUNT"

    br
    br
    b(style="opacity:0.8;font-family:helvetica;font-size:16px")="BUT TAKE A LOOK AT THIS FIRST..."
    br
    br
    br
