extends index

block content

    h3(style="font-weight:bold")="ORDER CONFIRMATION"
    br
    p="Thank you for your order. We will inform the webmasters about your order and will notify you when the order has been fully processed."

    p="If you want to follow the process and see what links has gone live, please do so from your Link.Builders-account."
        