extends index 

block passwordReset 
    
    div(style="text-align:center")
        br
        h3(style="font-weight:bold;")="Link Builders Platform"
        br
        br
        p="A password reset was requested for your Link Builders account. Please press the Reset Password button or use the link below to reset your password. If this wasn't requested by you kindly ignore this email."

        p="Note: This link is only operational for the next 24 hours."
        br
        br
        a.resetButton(href="https://goldenlink.sweetopia.se/reset_password?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI2MTFjYmQxOWNkYWYwYWE0YjU1OWVhYjciLCJpYXQiOjE2Mzc5MTQxMDQsImV4cCI6MTYzODAwMDUwNH0.-13hDCMdfMtW1Wd96isn4OJWxS5VDJ4KP8KoUlLcDog&email=zelalem.antigen12@gmail.com")
                ="Reset Password"
        br
        br
        b="or"
        br
        br
        div(style="word-wrap:break-word;padding-left:10%;padding-right:10%;")
            a(href="https://goldenlink.sweetopia.se/reset_password?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI2MTFjYmQxOWNkYWYwYWE0YjU1OWVhYjciLCJpYXQiOjE2Mzc5MTQxMDQsImV4cCI6MTYzODAwMDUwNH0.-13hDCMdfMtW1Wd96isn4OJWxS5VDJ4KP8KoUlLcDog&email=zelalem.antigen12@gmail.com")
                    ="https://goldenlink.sweetopia.se/reset_password?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI2MTFjYmQxOWNkYWYwYWE0YjU1OWVhYjciLCJpYXQiOjE2Mzc5MTQxMDQsImV4cCI6MTYzODAwMDUwNH0.-13hDCMdfMtW1Wd96isn4OJWxS5VDJ4KP8KoUlLcDog&email=zelalem.antigen12@gmail.com"
        br
        br
        br
