*{
    margin: 0px;
    box-sizing: border-box;
    max-width: 1900px;
}
.headerDiv{
    background-image: url('/images/headerImage.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
body{
    overflow-x: hidden;
}
@media screen and (max-width:980px) {
    .tableScrollable{
        overflow-x: scroll;
    }
}

.resetButton{
    font-weight:bold;
    font-size:16px;
    border:2px solid #337ab7;
    padding:5px;
    border-radius: 5px;
}

.resetButton:hover{
    text-decoration: none;
    background-color: #3379b71e;
}
.contentDiv{
    position: absolute;
    top: 25%;
}
.circularDiv:hover{
    text-decoration: none;
}